<footer class="footer mt-auto py-3 bg-dark text-white"></footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h5>About Us</h5>
          <p>
            We provide the best quality t-shirts at affordable prices. Our passion for style and comfort is unmatched.
          </p>
        </div>
  
        <div class="col-md-4 mb-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/about" class="text-white">About</a></li>
            <li><a href="/contact" class="text-white">Contact</a></li>
          </ul>
        </div>
  
        <div class="col-md-4 mb-3">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
  
      <div class="text-center pt-3 border-top">
        <p class="mb-0">&copy; 2024 All rights reserved.</p>
      </div>
    </div>
  </footer>
  
  <style>
    .footer {
  background-color: #252525;
  color: #ffffff;
}

.footer h5 {
  font-weight: bold;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ff6347; 
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer .text-center {
  font-size: 0.9rem;
  color: #cccccc;
}

.footer i {
  margin-right: 5px;
}

  </style>