<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/menu.ejs') %>

    <div id="homeBanner"></div>
        <div class="sectionWrapper">

        <a href="/shop" class="catalog men">
            <h1 class="catalogbtn">Shop Mens</h1>
        </a>
        

        <a href="/shop" class="catalog kids">
            <h1 class="catalogbtn">Shop Kids</h1>
        </a>
        
        <a href="/shop" class="catalog women">
            <h1 class="catalogbtn">Shop Women</h1>
        </a>

        </div>
        <%- include('../partials/footer.ejs') %>
</body>
</html>
