<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/menu.ejs') %>

  <div class="shopItemscontainer">
    <% data.forEach(function(item) { %> <%- include('../partials/shirtCard', {
    item: item }) %> <% }); %>
  </div>
</body>
